body {
    background-color: #ffffff;
    color: #F9FAF8;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.24;
    letter-spacing: 0.03em;
    display: block;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.button {
    cursor: pointer;
    font-family: 'Roboto', san-serif;
}

#current {
    color: #3882F6
}

a:hover, a:focus {
    color: #3882F6;
} 

.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.primary-button {
    color: #ffffff;
    background-color: #3882F6;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: none;
    padding: 3px 27px;
}

.outer-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    margin-top: auto;
}

/* !Header */

.header {
    height: 100px;
    
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.nav-link {
    padding: 25px 0;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-second-word {
    color: #3882F6;
}

.nav-list {
    display: flex;
    justify-content: end;
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

/* !Hero*/

.hero {
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-wrap {
    width: 50%;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.18;

    margin-bottom: 20px;
}

.hero-text {
    color: #E5E7EB;

    margin-bottom: 20px;
}



.hero-image-thumb {
    height: 256px;
    width: 450px;
}

.hero-image-thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* !Coming Movies */

.coming-movies {
    padding-top: 50px;
    padding-bottom: 50px;
}

.coming-movies-heading {
    text-align: center;
    color: #1F2937;

    margin-bottom: 50px;
}

.coming-movies-list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.coming-movies-item:not(:last-child) {
margin-right: 70px;
}

.coming-movies-item {
   width: 180px; 
   height: 250px;
}

.coming-movies-poster_thumb {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    height: 200px;
    width: 150px;
    border-radius: 5px;  

    margin: 0;
}

.coming-movies-poster_image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.coming-movies-poster_text {

    margin-top: 10px;
    color: #1F2937;
    font-size: 18px;

    text-align: center;
}

/* !Quote */
.quote {
    color: #1F2937;

    font-size: 36px;
    font-style: italic;
    font-weight: 400;
}

.quote-container {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text {
    text-align: justify;
    line-height: 1.30;

    padding: 0 100px;
    margin: 0;
    margin-bottom: 20px;
}

.quote-text-author {
    font-weight: 700;
    text-align: end;
    padding-right: 20px;
}

/* !Booking */

.call-to-action {
    padding: 100px 0;
}

.call-to-action-wrapping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 50px;

    width: 600px;
    border-radius: 10px;
}

.call-to-action-text-container {
    width: 500px;
}

.call-to-action-heading {
    margin-bottom: 10px;
}

.call-to-action-button {
    background-color: #3882F6;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;

    padding: 10px 25px;
    min-width: 140px;
}

/* !Footer */

.footer {
    background-color: #1F2937 ;

    padding: 25px 0;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up-button {
    background-color: #1F2937;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    padding: 5px 20px;     
}

/* !Trending */

.trending {
    color: #1F2937;
}

.trending-heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

.trending-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    margin-right: -15px;

    padding-bottom: 30px;;
}

.trending-item {
    display: flex;
    flex-basis: calc((100% - 30px) / 3);

    background-color: #E5E7EB;

    padding: 15px 15px ;
    box-sizing: border-box;    
}

.trending-item-heading {
    font-size: 18px;
    font-weight: 700;
}
  
.trending-item-image-thumb {
    margin-right: 15px;
    margin-bottom: 15px;

    width: 150px;
    height: 200px;
}

.trending-item-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.trending-item-text {
    font-size: 16px;
}

.trending-item-quote {
    margin-top: 10px;
}

/* !Contacts */

.contacts {
    padding-top: 50px;
    padding-bottom: 100px;
    color: #1F2937;
}

.contacts-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.contacts-address {
    margin-bottom: 30px;
}

.contacts-map-heading {
    text-align: center;
    font-size: 24px;

    margin-bottom: 30px;
}

.contacts-image-thumb {
    height: 500px;

    margin-right: auto;
    margin-left: auto;

    border-radius: 10px;
    overflow: hidden;
}

.contacts-map-image {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.flex-container {
    display: flex;
    gap: 20px;
}

.flex-item {
    flex: 1;
}

.contact-form-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    font-family: inherit;
    font-size: 18px;
}

.contacts-input {
    padding: 10px;
    margin-top: 10px;

    font-family: inherit;
    font-size: 18px;

    border: 1px solid #1F2937;
    border-radius: 5px;
}

.contact-form-massage {
    resize: none;
    height: 100%;
    padding: 15px;
    
    margin-bottom: 10px;
    margin-top: 10px;

    font-family: inherit;
    font-size: 18px;

    border: 1px solid #1F2937;
    border-radius: 5px;
}

.contact-form-button {
    width: 150px;
}
